* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: Roboto, san-serif;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}

header {
    display: flex;
    justify-content: space-around;
    padding: 24px;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;

}

header ul {
    display: flex;
    gap: 1em;
    align-items: center;
}

header li {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: #F9FAF8;
}

.awesome {
    height: 420px;
    display: flex;
    border-bottom: 1px solid black;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: #1F2937;
}

.calltoaction {
    width: 420px;
}

.calltoaction h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.calltoaction p {
    font-size: 18px;
    color: #E5E7EB;
}

.calltoaction button {
    padding: 8px 32px;;
    margin-top: 6px; 
    border-radius: 8px;
    color: #E5E7EB;
    background-color: #3882F6;
    font-size: medium;
    font-weight: 900;
    border: 0.10px solid black;
}

.placeholder {
    padding: 100px;
    background-color: gray;
    display: flex;
    flex-shrink: 0;
    margin-left: 12px;
    color: #F9FAF8;
}