* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, san-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    border-bottom: 1px solid black;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;

}

ul {
    display: flex;
    gap: 1em;
    align-items: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}